.clickable{
    background-color: #BCBCBC;
    border: none;
    border-radius: 2px;
    box-shadow: var(--shadow-level-1);
    display: flex;
    text-decoration: none;
    color: black;                
    justify-content: center;
    /* transition: 300ms; */
}
.clickable:hover{
    transform: translateY(-5px);
    box-shadow: var(--shadow-level-3);
}
.clickable:active{
    transform: translateY(1px);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    filter: brightness(50%);
}
