.fab{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 24px;
    z-index: 1000;
}
.fab button{
    padding: 16px;
    margin: 0px;
    width: 100%;
    box-shadow: var(--box-shadow-level-2);
    transition: 300ms;
    border: none;
    border-radius: 360px;
    background-color: var(--quaternary-color);
}
.fab button:hover{
    box-shadow: var(--box-shadow-level-3);
    transform: translateY(-5px);
    filter: brightness(115%);
}
.fab button:active{
    box-shadow: none;
    filter: brightness(50%);
    transform: translateY(1px);
}