#gallery-column{
    vertical-align: top;
    width: 95%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

#search-column{
    width: 25%;
    vertical-align: top;
}

/* #gallery-table{
    width: 100%;
    margin-bottom: 4em;
    border-collapse: collapse;
    table-layout: fixed;
} */

/* #gallery-table tr{
    display: table-row;
}

#gallery-table td{
    width: 100%;
    vertical-align: bottom;
    background-color: transparent;
} */

#gallery-column p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#gallery-column .item-description{
    margin-top: 8px;
    height: 25%;
}
/* 
@media screen and (max-width: 900px) {
    #gallery-table tr{
        flex-direction: column;
    }
} */

.gallery-item{
    border-radius: var(--border-radius-xxl);
    padding: 16px;
    background-color: transparent;
    box-shadow: none;
}

#gallery-column .gallery-item:hover{
    background-color: var(--secondary-color);
}

.gallery-item img{
    width: 100%;
    height: 75%;
    border-radius: 4px;
    display: block;
    object-fit: cover;
    max-height: 30vh;
}

#gallery-heading-card{
    background-image: url('../images/pawsAndKnow/general_information/imgDogGenInfoOverview.jpg');
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 17%;
    /* background-blend-mode: overlay; */
    height: 35vh;
}

#gallery-table-card{
    display: table;
    vertical-align: top;
}

@media screen and (max-width: 900px){
    #gallery-column{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px){
    #gallery-table-card table tr{
        display: inline;
    }

    #gallery-column{
        width: 100%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 600px){
    #gallery-column{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 300px){
    #gallery-column{
        grid-template-columns: repeat(1, 1fr);
    }
}