#gallery-column{
    width: 75%;
    vertical-align: top;
}

#search-column{
    width: 25%;
    vertical-align: top;
}

#gallery-table{
    width: 100%;
    margin-bottom: 4em;
    border-collapse: collapse;
    table-layout: fixed;
}

#gallery-table tr{
    display: table-row;
    /* flex-direction: row; */
}

#gallery-table td{
    width: 100%;
    vertical-align: bottom;
    background-color: transparent;
}
/* 
#gallery-table .secondary-card{
    height: 100%;
} */

#gallery-table p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#gallery-table .item-description{
    margin-top: 8px;
    height: 25%;
}

@media screen and (max-width: 900px) {
    #gallery-table tr{
        flex-direction: column;
    }
}

.gallery-item{
    border-radius: var(--border-radius-xxl);
    padding: 16px;
    background-color: transparent;
    box-shadow: none;
}

#gallery-table td:hover{
    background-color: var(--secondary-color);
}

.gallery-item img{
    width: 100%;
    height: 75%;
    border-radius: 4px;
    display: block;
    object-fit: cover;
    max-height: 30vh;
}

#gallery-heading-card{
    background-image: url('../images/pawsAndKnow/general_information/imgDogGenInfoOverview.jpg');
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 17%;
    /* background-blend-mode: overlay; */
    height: 35vh;
}