#gallery-column{
    width: 75%;
    vertical-align: top;
}

#search-column{
    width: 25%;
    vertical-align: top;
}

#gallery-table{
    width: 100%;
}

#gallery-table tr{
    display: flex;
    flex-direction: row;
}

#gallery-table .secondary-card{
    height: 100%;
}

#gallery-table p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#gallery-table .item-description{
    background-color: white;
    border-radius: var(--border-radius-l);
    padding: 8px;
    margin-top: 8px;
}

@media screen and (max-width: 900px) {
    #gallery-table tr{
        flex-direction: column;
    }
}

/* .gallery-item{
    border-radius: var(--border-radius-xxl);
    padding: 16px;
    background-color: transparent;
    box-shadow: none;
}

.gallery-item:hover{
    background-color: var(--primary-color);
}


.gallery-item img{
    /* width: 12vw; */
    /* width: 100%;
} */

#gallery-heading-card{
    background-image: url('../images/pawsAndKnow/general_information/imgDogGenInfoOverview.jpg');
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 17%;
    /* background-blend-mode: overlay; */
    height: 35vh;
}