.link-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.link-list .title{
    font-size: large;
    font-weight: bold;
}

.link-list .secondary-card p{
    /* padding: 4px 8px; */
    width: 100%;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

@media screen and (max-width: 900px) {
    .link-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }
}

@media screen and (max-width: 600px) {
    .link-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;
    }
}