#toolbar{
    position: sticky;
    top: 0;
    left: 0;
}

nav{
    box-shadow: var(--box-shadow-level-4);
    width: 100%;
    display: flex;
    background-color: var(--primary-color);
}

#toolbar nav menu{
    /* display: flex; */
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    /* display: flex;  */
    /* flex-direction: row; */
    margin-left: auto;
    padding-left: 0%;
    
    /* float: right; */
}

#toolbar p, #toolbar #website-title, #toolbar h1{
    color: var(--primary-text-color);
    margin-block-start:0;
    margin-block-end: 0;
    
}

#toolbar p{
    font-size: medium;
}

#toolbar p#website-title{
    font-size: xx-large;
}

#toolbar #website-title, #toolbar h1{
    padding: 6px 16px;
}

#toolbar #toolbar-logo{
    height: 48px;
}

#toolbar nav button{
    padding: 14px 16px;
    background-color: transparent;
    border: none;
}

#toolbar nav > menu > li > button, #toolbar input{
    border-top-left-radius: var(--border-radius-xxl);
    border-top-right-radius: var(--border-radius-xxl);
}

#toolbar #menu-search button{
    border-radius: var(--border-radius-xl);
}

#toolbar nav button:hover{
    background-color: var(--secondary-color);
}

#toolbar nav button:active{
    background-color: var(--tertiary-color);
}

#toolbar nav .selected > button{
    background-color: var(--fifth-color);
}

#toolbar nav .selected > menu{
    border: 2px var(--fifth-color) solid;
}

#toolbar nav .selected button:hover{
    filter: brightness(115%);
}

#toolbar nav .selected button:active{
    filter: brightness(75%);
}

#toolbar nav .selected menu button:hover, #toolbar nav .selected menu button:active{
    background-color: var(--fifth-color);
}

menu li{
    display: inline;
    position: relative;
}

menu li menu{
    display: none;
    position: absolute;
    left: 0;
    /* background-color: var(--primary-color); */
    background-color: var(--seventh-color);
    box-shadow: var(--box-shadow-dropdown);
    border: var(--border-radius-xs) var(--secondary-color) solid;
    border-radius: 0px 0px var(--border-radius-xs) var(--border-radius-xs);
}

menu li:hover menu{
    display: flex;
    flex-direction: column;
    width: 200%;
}
menu > li:hover > menu > li > button{
    width: 100%;
    /* border-radius: var(--border-radius-xs); */
    /* border-radius: var(--border-radius-xxl); */
}
menu li:hover menu li p{
    text-align: left;
}