#toolbar{
    position: sticky;
    top: 0;
    left: 0;
}

nav{
    box-shadow: var(--box-shadow-level-4);
    width: 100%;
    display: flex;
    background-color: var(--primary-color);
}

#toolbar nav menu{
    /* display: flex; */
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    /* display: flex;  */
    /* flex-direction: row; */
    margin-left: auto;
    padding-left: 0%;
    
    /* float: right; */
}

#toolbar p, #toolbar #website-title, #toolbar h1{
    color: var(--primary-text-color);
    margin-block-start:0;
    margin-block-end: 0;
    
}

#toolbar p{
    font-size: medium;
}

#toolbar p#website-title{
    font-size: xx-large;
}

#toolbar #website-title, #toolbar h1{
    padding: 6px 16px;
}

#toolbar #toolbar-logo{
    height: 48px;
}

#toolbar button{
    padding: 14px 16px;
    background-color: transparent;
    border: none;
}

#toolbar button, #toolbar input[type="text"]{
    border-top-left-radius: var(--border-radius-xxl);
    border-top-right-radius: var(--border-radius-xxl);
}

#toolbar button:hover{
    background-color: var(--secondary-color);
}

#toolbar button:active{
    background-color: var(--tertiary-color);
}

#toolbar .selected > button{
    background-color: var(--quaternary-color);
}

#toolbar .selected > menu{
    background-color: var(--quaternary-color);
}

#toolbar .selected button:hover{
    filter: brightness(115%);
}

#toolbar .selected button:active{
    filter: brightness(75%);
}

#toolbar .selected menu button:hover, #toolbar .selected menu button:active{
    background-color: var(--quaternary-color);
}

menu li{
    display: inline;
    position: relative;
}

menu li menu{
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow-dropdown);
    border-radius: 0px 0px var(--border-radius-xxl) var(--border-radius-xxl);
}

menu li:hover menu{
    display: flex;
    flex-direction: column;
}
menu li:hover menu li button{
    width: 100%;
    border-radius: var(--border-radius-xxl);
}
menu li:hover menu li p{
    text-align: left;
}